.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font size: iron;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(50%, minmax(150, 1fr));
    gap: .25rem;
    margin-top: iron;
}

.cards {
    background:  url("https://i.imgur.com/z321vyx.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0px;
    margin: auto;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(1, 5, 3);
}

.cards > .header {
    margin-bottom: .25rem;
}

.cards > .body {
    background:  url("https://i.imgur.com/z321vyx.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0px;
    margin: auto;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: rgb(1, 5, 3);
}

.hide {
    display: none;
}
